# SPDX-License-Identifier: 0BSD

# Build files
bin/
obj/

# Local Visual Studio files
.vs/

# Carried-in configuration when building a dev container.
.inherited-configuration

# My recent PowerShell history (to look at while writing/editing README.md)
/history.txt
