name: PSScriptAnalyzer

on: [push, pull_request]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Run PSScriptAnalyzer
        uses: microsoft/psscriptanalyzer-action@v1.1
        with:
          path: './'
          recurse: true
          output: report.sarif

      - name: Upload SARIF output to GitHub Security Center
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: report.sarif
