name: Run Unit Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test-prepackaged:
    name: Test Prepackaged

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Test against old packages
        run: dotnet test

  repackage-and-test:
    name: Repackage and Test

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        shell: [bash, pwsh]
        include:
          - shell: bash
            script: repackage
          - shell: pwsh
            script: repackage.ps1

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install `nuget` command
        if: startsWith(matrix.os, 'macos')
        run: brew install nuget
      - name: Full clean and repackage
        run: ${{ matrix.shell }} scripts/${{ matrix.script }}
      - name: Test against new packages
        run: dotnet test
